.App {
  margin-top: 0rem;
  text-align: left;
  font-size: large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-button {
  color: rgba(36, 21, 175, 0.801); 
  font-weight:  bolder
}

.check_lb {
  display:block;
}